.payment-inputs-wrapper {
  align-items: center;
  border: 1px solid #bdbdbd;
  box-shadow: inset 0px 1px 2px #e5e5e5;
  border-radius: 0.2em;
  display: inline-flex;
  padding: 0.4em 0.6em;
}

.payment-inputs-wrapper input {
  border: unset;
  margin: unset;
  padding: unset;
  outline: unset;
  font-size: 16px;
}

.payment-inputs-wrapper svg {
  margin-right: 0.6em;
}

.payment-inputs-wrapper input#cardnumber {
  width: 11rem;
}

.payment-inputs-wrapper input#expirydate {
  width: 4rem;
}

.payment-inputs-wrapper input#cvc {
  width: 2.5rem;
}

html {
  font-size: 16px;
}
